/* ESTILIZAÇÃO DO MENÚ RESPONSIVO */

@media (max-width: 991.98px) {

    /* Título "Todos Por Um" */

    .navbar-brand {
        font-size: 8vw;
        line-height: 7.5vw;
    }

    /* Botão "hambúrguer" do menu responsivo */

    .navbar-toggler {
        background-color: #00a7aa;
    }

    /* Opções do menú: "Início", "Serviços", etc... */

    nav ul {
        width: 50%;
        margin: 5vw auto 0px auto;
    }

    nav li {
        margin-bottom: 5vw;
    }

    nav a {
        font-size: 3.5vw;
    }

    aside {
        width: 100%;
    }

    aside h2 {
        font-size: 8vw;
        text-align: center;
        line-height: 9vw;
    }

    aside p {
        line-height: 3.8vw;
        font-size: 2.5vw;
    }

    .login-inputs {
        font-size: 4vw;
        margin-top: 2vw;
    }

    aside input[type="email"], aside input[type="password"] {
        padding: 3vw;
        margin-top: 4vw;
    }

    /* Botões */

    .login-btn {
        flex-direction: column;
    }

    /* Botão de "ENTRAR" */

    .login-btn input {
        padding: 1.5vw 1vw;
        font-size: 5vw;
        margin-top: 4vw;
    }
    
    /* Link para Cadastrar */

    .login-btn a {
        margin: 6vw auto 0 auto;
        font-size: 4vw;
    }

    /* Imagem animada não aparece */

    img {
        display: none;
    }

    .modal-content {
        width: 90vw;
        box-shadow: none;
    }

    .modal-body p {
        font-size: 3vw;
    }

    .def-fisica, .def-intel {
        font-size: 3.5vw;
    }

    .modal-footer button {
        font-size: 3.5vw;
        width: 65vw;
    }

    .tamanho-input-modal {
        width: 100%;
    }

    .coluna {
        flex-direction: column;
    }
}