/* ESTILIZAÇÃO DO MENÚ RESPONSIVO */

@media screen and (max-width: 760px) {

    /* Título "Todos Por Um" */

    .logo h1 {
        font-size: 30px;
    }

    /* Botão "hambúrguer" do menu responsivo */

    .navbar-toggler {
        background-color: #00a7aa;
    }

    /* Opções do menú: "Início", "Serviços", etc... */

    nav ul {
        width: 180px;
        margin: 0 auto;
    }

    aside {
        width: 100%;
    }

    aside h2 {
        font-size: 40px;
        text-align: center;
        line-height: 42px;
    }

    /* Botões */

    .login-btn {
        flex-direction: column;
    }

    /* Botão de "ENTRAR" */

    .login-btn input {
        width: 100%;
        padding: 5px 0 5px 0;
        font-size: 20px;
    }
    
    /* Link para Cadastrar */

    .login-btn a {
        margin: 30px auto 0 auto;
    }

    /* Imagem animada não aparece no responsivo*/

    img {
        display: none;
    }
}