body {
    background-color: whitesmoke;
    font-family: 'poppinsregular';
}

.cont {
    width: 70vw;
    padding: 1vw;
}


/* Formatação do Cabeçalho (logo) */

.navbar-brand h1 {
    font-size: 3vw;
    line-height: 2.8vw;
}

.navbar-brand a {
    text-decoration: none;
}


/* Menu de navegação */

.nav-item {
    margin-left: 3.5vw;
    cursor: pointer;
    font-size: .9vw;
}

.nav-link {
    color: black;
    transition: .3s;
}

.nav-link:hover, .ativo {
    color: #00a7aa;
}

.ativo {
    cursor: auto;
}

/* Formatação da tela de login */

main {
    justify-content: space-between;
    margin-top: 2vw;
}

/* Textos e inputs */

aside {
    width: 30vw;
    padding: 2vw;
    border-radius: 10px;
}

aside h2 {
    font-size: 3.2vw;
    line-height: 3.3vw;
    font-family: 'poppinsmedium';
}

aside span, .navbar-brand span {
    color: #00a7aa;
}

/*
aside p {
    line-height: 1.3vw;
    font-family: 'poppinslight';
    font-size: .9vw;
}
*/

/* Formatação dos campos (inputs) */

.login-inputs {
    flex-direction: column;
    font-size: .9vw;
}

aside [type="email"], aside [type="password"] {
    margin-top: 1.2vw;
    padding: 1vw;
    border-radius: 20px;
    border: 1px solid #e6e6e6;
}

/* Botões */

.login-btn {
    margin-top: 2.5vw;
    font-size: .9vw;
    justify-content: space-between;
}

.login-btn input {
    padding: .8vw 2vw;
    background-color: #00a7aa;
    border-radius: 30px;
    transition: .3s;
}

.login-btn input:hover {
    background-color: #00c0c4;
}

.login-btn a {
    color: #00a7aa;
    margin-top: .8vw;
    text-decoration: none;
}

.login-btn a:hover {
    text-decoration: underline;
    color: #008183;
    text-decoration-thickness: 1.5px;
}

/* Imagem animada */

article img {
    width: 28vw;
}


/* Modal */

.modal-content {
    box-shadow: 1px 1px 12px 6px rgba(0, 0, 0, 0.274);
}


/* Tabela */

.table-btn {
    margin-left: 60vw;
    cursor: pointer;
    background-color: #00a7aa;
    transition: .3s;
}

.table-btn:hover {
    background-color: #019092;
}

.bg-table-thead {
    background-color: #00a7aa;
}

.modal-footer button {
    width: 17vw;
    font-size: 1vw;
}
