<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos Por Um | Dicas</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg"><!-- Menu -->
                <div class="container-fluid">
                    <div class="navbar-brand text-start"><!-- Logotipo "Todos Por Um" -->
                        <a href="#" class="text-decoration-none">
                            <h1 class="fw-bold text-dark"><span>TODOS</span><br>POR UM</h1>
                        </a>
                    </div><!-- /fim Logotipo "Todos Por Um" -->
                
                    <!-- Menu responsivo -->

                    <!-- Botão "hambúrguer" do menu responsivo -->
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navegacao" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- /fim Botão "hambúrguer" do menu responsivo -->

                    <div id="navegacao" class="collapse navbar-collapse">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item fw-bold">
                                <a href="#" class="nav-link ativo">Início</a>
                            </li>

                            <li class="nav-item fw-bold">
                                <a href="#" class="nav-link">Serviços</a>
                            </li>

                            <li class="nav-item fw-bold">
                                <a href="#" class="nav-link">Sobre</a>
                            </li>

                            <li class="nav-item fw-bold">
                                <a href="#" class="nav-link">Contato</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- /fim Menu responsivo -->
            </nav> <!-- /fim Menu -->
        </header>

        <main role="main" class="d-flex justify-content-between">
            <div id="alu-info">
                <div class="text-center">
                    <img src="https://picsum.photos/200" class="rounded-circle">
                    <label class="d-block fw-bold">Nome do aluno</label>
                </div>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nulla distinctio corporis, iste ullam aliquid tenetur aut dolorum adipisci culpa! Incidunt, beatae? Praesentium officia commodi excepturi, soluta ipsam deserunt quo?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio culpa, sunt architecto reprehenderit sed perferendis quis labore? Adipisci deserunt perspiciatis illo sunt! Sit, veritatis. At atque ratione nam beatae ut!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto distinctio corrupti hic ullam? Perferendis, magnam dolorem error cupiditate magni reiciendis quo natus similique voluptatem cum a impedit facere aut dignissimos?
                </p>

                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam ducimus nostrum earum quis quo fuga sint, numquam blanditiis culpa inventore laudantium cumque assumenda dolorum beatae ipsam doloremque harum facere autem! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint quas ut laboriosam totam modi earum iste natus perspiciatis similique enim quod voluptate, blanditiis placeat non accusamus recusandae distinctio explicabo. Amet.
                </p>

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi amet repellat nobis ullam labore. Blanditiis inventore dolore totam accusantium voluptatem minus vero culpa voluptatibus neque, quod repellat provident obcaecati nobis.
                </p>
            </div>

            <div id="alu-btns">
                <button type="button" class="btn text-light fw-bold d-block">Atividades</button>
                <button type="button" class="btn text-light fw-bold d-block">Sintomas</button>
                <button type="button" class="btn text-light fw-bold d-block">Visão Geral</button>
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>